{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{url_for('static',filename='css/login/style.css')}}">
{% endblock %}
{% block title %}
    Login
{% endblock %}

{% block body %}
<!-- <div class="container-fluid"> -->
<div class="container-fluid mt-5">
    <form action="/login" class=" container-fluid form col-lg-3 text-center rounded-5 shadow-lg border border-2 px-4 bg-light" method="post">
        <h1 class="text-center">Login</h1>
        <div class="form-floating my-3">
            <input type="text" name="email" id="email" class="form-control" placeholder=" ">
            <label for="email">Email</label>
        </div>
        <div class="form-floating my-3">
            <input type="password" name="password" id="password" class="form-control" placeholder=" ">
            <label for="password">Password</label>
        </div>
        <div class="row">
            <div class="col-auto me-auto">
                <a class="nav-link text-start text-primary">Forgot Password?</a>
            </div>
            <div class="col-auto ms-auto">
                <a class="nav-link text-end text-primary" href="/register">SignUp</a>
            </div>
        </div>
        <div class="col-auto ms-auto">
            <button type="submit" class="btn btn-primary w-auto p-0 px-5 py-1 my-4 text-end fw-bold fs-4">Submit</button>
        </div>
    </form>
</div>
<!-- </div> -->
{% endblock %}