{% extends 'base.html' %}

{% block title %}
    Register
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="text-center mt-4">
    </div>
    <div class="container-fluid justify-content-center mt-5">
        <form action="/register" class="container-fluid form col-lg-3 text-center rounded-5 shadow-lg bg-light px-4 mt-5 p-3 border border-2" method="post">
            <h1 class="text-center">Register</h1>
            <div class="form-floating my-3">
                <input type="text" name="name" id="name" class="form-control" placeholder=" ">
                <label for="email">Name</label>
            </div>
            <div class="form-floating my-3">
                <input type="text" name="email" id="email" class="form-control" placeholder=" ">
                <label for="email">Email</label>
            </div>
            <div class="form-floating my-3">
                <input type="password" name="password" id="password" class="form-control" placeholder=" ">
                <label for="password">New Password</label>
            </div>
            <div class="form-floating my-3">
                <input type="password" name="confirmPassword" id="confirmPassword" class="form-control" placeholder=" ">
                <label for="confirmPassword">Confirm Password</label>
            </div>
            <div class="row">
                <div class="col-auto ms-auto">
                    <a class="nav-link text-end text-primary" href="/login">Already Signed Up?</a>
                </div>
            </div>
            <div class="col-auto ms-auto">
                <button type="submit" class="btn btn-primary w-auto px-5 mt-4 text-end">Submit</button>
            </div>
        </form>
    </div>
    </div>
{% endblock %}